---
import type { SpeciesName } from "../types/pokedex";

interface Props {
  type: SpeciesName;
}

const { type } = Astro.props;
---

<div
  class:list={[
    "rounded-md",
    {
      "card-normal": type === "normal",
      "card-fire": type === "fire",
      "card-water": type === "water",
      "card-electric": type === "electric",
      "card-grass": type === "grass",
      "card-ice": type === "ice",
      "card-fighting": type === "fighting",
      "card-poison": type === "poison",
      "card-ground": type === "ground",
      "card-flying": type === "flying",
      "card-psychic": type === "psychic",
      "card-bug": type === "bug",
      "card-rock": type === "rock",
      "card-ghost": type === "ghost",
      "card-dragon": type === "dragon",
      "card-dark": type === "dark",
      "card-steel": type === "steel",
      "card-fairy": type === "fairy",
    },
  ]}
>
  <slot />
</div>
