---
interface Props {
  type: string;
  percentage: number;
}

const { type, percentage } = Astro.props;
---

<div class="bg-black/20 rounded-full h-2.5">
  <div
    class:list={[
      "h-2.5 rounded-full transition-all duration-300 ease-in-out",
      {
        "bg-pokemon-normal-400": type === "normal",
        "bg-pokemon-fire-400": type === "fire",
        "bg-pokemon-water-400": type === "water",
        "bg-pokemon-electric-400": type === "electric",
        "bg-pokemon-grass-400": type === "grass",
        "bg-pokemon-ice-400": type === "ice",
        "bg-pokemon-fighting-400": type === "fighting",
        "bg-pokemon-poison-400": type === "poison",
        "bg-pokemon-ground-400": type === "ground",
        "bg-pokemon-flying-400": type === "flying",
        "bg-pokemon-psychic-400": type === "psychic",
        "bg-pokemon-bug-400": type === "bug",
        "bg-pokemon-rock-400": type === "rock",
        "bg-pokemon-ghost-400": type === "ghost",
        "bg-pokemon-dragon-400": type === "dragon",
        "bg-pokemon-dark-400": type === "dark",
        "bg-pokemon-steel-400": type === "steel",
        "bg-pokemon-fairy-400": type === "fairy",
      },
    ]}
    style={`width: ${percentage > 100 ? 100 : percentage}%`}
  >
  </div>
</div>
